<ui-read>
<div class="panel-group" id="read" role="tablist" aria-multiselectable="true">

    <!-- ********** PANEL: Message input ********** -->

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="read-message-head">
            <h4 class="panel-title">
                <a 
                    role="button"
                    data-toggle="collapse"
                    data-parent="#read"
                    href="#read-message"
                    aria-expanded="true"
                    aria-controls="read-message"
                >
                    Message to read? 
                </a>
            </h4>
        </div>
        <div id="read-message" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="read-message-head">
            <div class="panel-body">
                <textarea 
                    name="message" 
                    class="form-control"
                ></textarea>
                <button type="button" onclick={ read } class="btn btn-primary">Read</button>
            </div>
        </div>
    </div>

    <!-- ********** PANEL: Password input ********** -->

    <div if={ password } class="panel panel-default">
        <div class="panel-heading" role="tab" id="read-password-head">
            <h4 class="panel-title">
                <a 
                    role="button"
                    data-toggle="collapse"
                    data-parent="#read"
                    href="#read-password"
                    aria-expanded="true"
                    aria-controls="read-password"
                >
                    We need your password...
                </a>
            </h4>
        </div>
        <div id="read-password" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="read-password-head">
            <ul class="list-group">
                <li each={ id, key in password } data-id="pwd-{ id }" class="list-group-item">
                    { key.primaryUserid }
                    <input data-id="{ id }" type="password" class="form-control" />
                    <div if={ error.wrongPassword[id] } class="alert alert-danger">Invalid password.</div>
                </li>
            </ul>
        </div>
    </div>

    <!-- ********** PANEL: Error ********** -->

    <div class="panel panel-danger" if={ Object.keys(error).length > 0 }>
        <div class="panel-heading" role="tab" id="read-error-head">
            <h4 class="panel-title">
                <a 
                    role="button"
                    data-toggle="collapse"
                    data-parent="#read"
                    href="#read-error"
                    aria-expanded="true"
                    aria-controls="read-error"
                >
                    Error occured reading this message...
                </a>
            </h4>
        </div>
        <div id="read-error" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="read-error-head">
            <ul class="list-group">
                <li if={ error.messageUnreadable } class="list-group-item">
                    The given message seems not being generated by a PGP software.
                </li>
                <li if={ error.noDecryptKey } class="list-group-item">
                    We don't have any proper key to decrypt this message.
                </li>
                <li if={ error.wrongPassword } class="list-group-item"> 
                    One or more password(s) for unlocking the key is/are wrong.
                </li>
                <li class="list-group-item" if={ error.details }>
                    { error.details}
                </li>
            </ul>
        </div>
    </div>

    <!-- ********** PANEL: Plaintext ********** -->

    <div class="panel panel-success" if={ plaintext }>
        <div class="panel-heading" role="tab" id="read-plaintext-head">
            <h4 class="panel-title">
                <a 
                    role="button"
                    data-toggle="collapse"
                    data-parent="#read"
                    href="#read-plaintext"
                    aria-expanded="true"
                    aria-controls="read-plaintext"
                >
                    Message read successful
                </a>
            </h4>
        </div>
        <div id="read-plaintext" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="read-plaintext-head">
            <ul class="list-group" if={ Object.keys(verifications).length < 1 }>
                <li class="list-group-item list-group-item-warning">
                    This message is not signed.
                    You should <strong>not</strong> trust it's been sent from anyone as said.
                </li>
            </ul>
            <ul class="list-group" if={ Object.keys(verifications).length > 0 }>
                <li class="list-group-item list-group-item-info">
                    This message is signed by one or more key(s).
                    Verification results are shown below.
                </li>
                <li 
                    each={ id, verification in verifications } 
                    class="list-group-item { verification.valid ? 'list-group-item-success' : 'list-group-item-danger' }"
                >
                    { verification.key.primaryUserid }
                </li>
            </ul>
            <div class="panel-body">
                <textarea name="result-display" class="form-control" readonly="readonly"> </textarea>
            </div>
        </div>
    </div>

</div>
<!-- ********************************************************************* -->
<script>

this.error = {};

this.on('update', function(e){
    if(e && e.plaintext){
        if(!e.error) this.error = {};
        this.password = null;
    }
});

this.on('updated', function(){
    if(this.plaintext){
        $(this.root).find('[name="result-display"]').text(this.plaintext);
    }
}); 

read(el){
    var password = {};
    $(this.root).find('input[type="password"]').each(function(){
        password[$(this).attr("data-id")] = $(this).val();
    });
    var submission = {
        message: this.message.value,
        password: password,
    };
    console.debug(submission);
    this.trigger('read', submission);
}

</script>
</ui-read>
